@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship</title>
    <!-- Add Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrQkz4Wyg43vxn6CM6zclMlA+JLa2+Y1scTzW7Stp8XmjKUpc+2pBhXoBsG+2NTMscMxo3PZ1/4s0Bl6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .icon {
            color: purple;
            margin-right: 10px;
        }
        .link {
            color: purple;
            text-decoration: none;
            font-weight: bold;
        }
        .link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>
            <i class="fas fa-desktop icon"></i>
            Welcome to our Internship.<br />
        </p>
        <a asp-action="RsvpForm" class="link">For registration click here</a>
    </div>
</body>
</html>



